.main{
    background: linear-gradient(193.87deg, #82DAF4 4.96%, #126CF4 97.35%);
    max-width: 1440px;
    padding:100px 40px 20px 40px;
    margin: auto;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
}

.tomorrow-photo{
    display: block;
    margin: auto;
    width:200px;
    height:200px;
    margin-right:50px;
}

.tomorrow-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.degrees{
    font-weight: 700;
    font-size: 72px;
    color:white;
    margin:auto;
    display: flex;
    align-items: center;
    position: relative;
    &-min{
        font-weight: 700;
        font-size: 36px;
        color: #71CBFB;
    }
}

.tomorrow-info{
    margin:auto;
    display: flex;
    align-items: center;
}

.weather{
    font-weight: 800;
    font-size: 22px;
    color:white;
    margin:auto;
    margin-bottom: 2px;
}

.date{
    font-weight: 600;
    color:white;
    font-size: 18px;
    margin:auto;
}

.tomorrow-secondary{
    padding:29px 50px 38px 50px;
    display:flex;
    justify-content: space-between;
}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    &>*{
        margin-bottom:4px;
    }
}

.info{
    font-size: 17px;
    line-height: 16px;
    color:white;
}

.name{
    font-size: 17px;
    line-height: 16px;
    color: #69B5FF;
}


